html{
    scroll-behavior: smooth;
}
/* COLOR CSS */
.maincolor{
    background-color: #5fc6ff;
}
.datepicker-date-display{
    background-color: #5fc6ff 
}
.timepicker-digital-display{
    background-color: #5fc6ff 
}
.maincolor-text{
    color: #76a1b8;
}
.secondcolor-text{
    color: #5fc6ff;
}
.tabs .indicator {
    background-color:#5fc6ff;
} 
/* FONT IMPORT */
@font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Regular'), url('../assets/webfont/Poppins-Regular.woff') format('woff');
    }
  

    @font-face {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Bold'), url('../assets/webfont/Poppins-Bold.woff') format('woff');
    }
    .poppin{
        font-family: 'Poppins Regular',sans-serif;
    }
     .poppin-bold{
         font-family:'Poppins Bold',sans-serif;
     }
     /* BUTTON */
     .button{
         cursor: pointer;
        border: 0;
        padding: 14px 50px;
        border-radius: 35px;
        font-size: 12pt;
    }
    .button.paris{
        background-color: #006dc1;
    }
    .button.rome{
        background-color: #ffad65;
    }
    .button.tokyo{
        background-color: #ff4127;
    }
     /* FONT SIZING */
     .font-10{
         font-size: 10pt;
     }
     .font-15{
        font-size: 15pt;
    }
    .font-20{
        font-size: 20pt !important;
    }
    .font-25{
        font-size: 25pt;
    }
    .font-30{
        font-size: 30pt;
    }
      /* margin */
      .landing-margin{
          margin-top: 10rem;
      }
      .margint5{
        margin-top: 5rem;
      }
   
      /* RESPONSIVE */
      @media only screen and (max-width: 600px) {
        .landing-margin{
            margin-top: 3rem;
        }
        .text-s-center{
            text-align: center;
        }
        .button-explore-mobile{
            display: block;;
            margin-left: auto;
            margin-right: auto;
        }
      }
      /* BORDER */
      .carousel-border{
        border-radius: 15px;
    }
    .card-border{
        border-radius: 35px;
    }
    /* etc */
      .slides{
          margin-top: 40px;
          height: 200px !important;
      }
   
      .center{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }